{% extends 'base_admin.html.twig' %}

{% block title %}Publicite index{% endblock %}

{% block content %}
    <h1>Publicite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Domaine</th>
                <th>Affichage</th>
                <th>Image</th>
                <th>Prix</th>
                <th>Lien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicite in publicites %}
            <tr>
                <td>{{ publicite.id }}</td>
                <td>{{ publicite.nom }}</td>
                <td>{{ publicite.prenom }}</td>
                <td>{{ publicite.email }}</td>
                <td>{{ publicite.domaine }}</td>
                <td>{{ publicite.affichage }}</td>
                <td>{{ publicite.image }}</td>
                <td>{{ publicite.prix }}</td>
                <td>{{ publicite.lien }}</td>
                <td>
                    <a href="{{ path('publicite_show', {'id': publicite.id}) }}">show</a>
                    <a href="{{ path('publicite_edit', {'id': publicite.id}) }}">edit</a>
                    <a href="{{ path('publicite_prix', {'id': publicite.id}) }}">Prix</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('publicite_new') }}">Create new</a>
{% endblock %}
