{% extends 'base_admin.html.twig' %}

{% block title %}InscriCertif index{% endblock %}

{% block content %}
    <center><h1>Personnes inscrites aux certificats</h1></center>

    <table class="table" border="0.5px solid #ddd">
        <thead>
            <tr style ="background-color: royalblue">
                <th style ="color: white">IdInscri</th>
                <th style ="color: white">NomUtilisateur</th>
                <th style ="color: white">NomCertificat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscri_certif in inscri_certifs %}
            <tr>
                <td>{{ inscri_certif.idInscri }}</td>
                <td>{{ inscri_certif.nomUtilisateur }}</td>
                <td>{{ inscri_certif.nomCertificat }}</td>
                <td>
                    <a class="btn", href="{{ path('inscri_certif_show', {'idInscri': inscri_certif.idInscri}) }}">show</a>
                    <a class="btn", href="{{ path('inscri_certif_edit', {'idInscri': inscri_certif.idInscri}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <center>
        <a class="btn", href="{{ path('inscri_certif_new') }}">Create new</a>
    </center>

    <style>
        .btn{

            background:  #E66207;
            color: #fff;
            cursor: pointer;

        }
    </style>
{% endblock %}
