{% extends 'base.html.twig' %}
{% block title %}Devworks{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <div class="container">
            <h2>Listes des offres de stage</h2>
        </div>
    </div>
    <div class="container">
        <div class="section">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="row">
                    {{ form(search_form)}}
                </div>
            </div>
        </div>
            {% if app.request.method == 'POST' %}
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="row">
                        {% if Offres |length == 0 %}
                            <h1>Aucune offre disponible</h1>
                            {% else %}
                            <h1>Resultat de la recherche</h1>
                                {% for OffreStage in Offres %}
                                    <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">

                                        <div class="feature-1 border person text-center">
                                            <img src= "{{ asset('/img/testimonials/testimonials_1.jpg') }}" alt="Image" class="img-fluid">
                                            <div class="feature-1-content">
                                                <h2><a href="{{ path('OffreStage', {'id': OffreStage.idStage}) }}"> {{OffreStage.nomSoc }}</a></h2>
                                                <span class="position mb-3 d-block"> Adresse :{{ OffreStage.adrSoc }}</span>
                                                <span class="position mb-3 d-block"> Date debut :{{ OffreStage.dateDebut|date("d/m/Y")  }}</span>
                                                <p>Description :{{ OffreStage.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                        </div>

                                {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
    </div>
    </div>

{% endblock %}

{% block Javascrippt %}
    {{ parent() }}
    <script>
        $(document).ready(function (){
            $('select').formSelect();
        });
    </script>
{% endblock %}
