{% extends 'personnes/indexuser.html.twig' %}
{% block title %}Devworks{% endblock %}
{% block body %}

    <div class="breadcrumbs" >
        <div class="container">
            <h2>Details offre</h2>
        </div>
    </div>
    <section id="course-details" class="course-details">
        <div class="container" >

            <div class="row">
                <div class="col-lg-8">
                    <img src="/uploads/{{ OffreStage.logo }}" class="img-fluid" alt="Image">
                    <h3>Titre : {{ OffreStage.titre }}</h3>
                    <h5>Description :<br>{{ OffreStage.description}}</h5>
                </div>
                <div class="col-lg-4">

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Nom société</h5>
                        <p>{{ OffreStage.nomSoc }}</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Adresse mail</h5>
                        <p>{{ OffreStage.adrSoc }}</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Date publication</h5>
                        <p>{{ OffreStage.datePub|date("d/m/Y") }}</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Niveau d'étude</h5>
                        <p>{{ OffreStage.nivEtude }}</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Certificat demandé </h5>
                        <p>{{ OffreStage.certificat }}</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Durée de stage</h5>
                        <p>{{ OffreStage.duree }} mois</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Date debut</h5>
                        <p>{{ OffreStage.dateDebut|date("d/m/Y") }}</p>
                    </div>


                </div>
            </div>

        </div>
    </section>
{% endblock %}