{% extends 'base_admin.html.twig' %}

{% block title %}Apprenants{% endblock %}

{% block content %}
    <html>
<head>
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 900px;
            overflow: hidden;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 9px;
            padding-bottom: 9px;
            text-align: left;
            background-color: #4c7aaf;
            color: white;
        }
    </style>
</head>

    <table border ="1" id="customers">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>NomUtilisateur</th>
            <th>Email</th>
            <th>Centre interet</th>
            <th> Etat </th>
            <th>  </th>


        </tr>
        <tbody id="all">
        {% for user in personnes %}
            <tr>
                <td>{{ user.idUser }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>

                <td>{{ user.nomUtilisateur }}</td>
                <td>{{ user.email }}</td>

                <td>{{ user.centreInteret}}</td>
                <td>
                    <input type="radio" id="active" name="active" value="active"
                           checked>
                    <label for="huey">Activé</label>
                    <input type="radio" id="desactive" name="desactive" value="desactive">
                    <label for="desactive">Desactivé</label>
                </td>

                <td>



                    <a href="{{ path('apprenant_edit', {'idUser': user.idUser}) }}" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-info-circle"></i>

                    </span>
                        <span class="text">Edit</span>

                    </a>

                </td>


            </tr>


        {%endfor%}
        </tbody>


        </td>
        </tr>




    </table>




{% endblock %}