
<h1>Modifier un Formateur</h1>
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<table  style="width:100%;margin-right:40%">
    <tr class="group">
        <td class="label"> {{form_label(form.role)}}</td>
        <td> {{form_widget(form.role,{'attr': {'class': 'form-control'}})}}</td>

    </tr>
    <tr class="group">
        <td class="label"> {{form_label(form.cin)}}</td>
        <td>{{form_widget(form.cin,{'attr': {'class': 'form-control'}})}}</td>


    </tr>
    <tr class="group">
        <td class="label" > {{form_label(form.nom)}}</td>
        <td > {{form_widget(form.nom,{'attr': {'class': 'form-control'}})}}</td>


    </tr>
    <tr class="group">
        <td class="label"> {{form_label(form.prenom)}}</td>
        <td> {{form_widget(form.prenom,{'attr': {'class': 'form-control'}})}}</td>


    </tr>
    <tr class="group">
        <td class="label"> {{form_label(form.email)}}</td>
        <td> {{form_widget(form.email,{'attr': {'class': 'form-control'}})}}</td>

    </tr>


    <tr class="group">
        <td class="label"> {{form_label(form.nomutilisateur)}}</td>
        <td> {{form_widget(form.nomutilisateur,{'attr': {'class': 'form-control'}})}}</td>


    </tr>
    <tr class="group">
        <td class="label"> {{form_label(form.domaine)}}</td>
        <td> {{form_widget(form.domaine,{'attr': {'class': 'form-control'}})}}</td>

    </tr>
</table>
<button  class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>

                    </span>
    <span class="text">{{ button_label|default('Save') }}</span>

</button>

{{ form_end(form) }}