{% extends 'personnes/indexuser.html.twig' %}
{% block title %}Devworks{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <div class="container" >
            <h2>Listes mes offres de travails</h2>
        </div>
    </div>
    <section id="courses" class="courses">
        <div class="container"  >
            <div class="row"  data-aos-delay="100">
                {% for OffreTravail in ListOffres %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="course-item">
                            <img src="/uploads/{{ OffreTravail.logo }}" class="img-fluid" alt="Image">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>{{OffreTravail.titre }}</h4>
                                    <p class="price">{{ OffreTravail.typeContrat  }}</p>
                                </div>

                                <h3><a href="{{ path('OTModify', {'id': OffreTravail.idTravail}) }}"> {{OffreTravail.nomSoc }}</a></h3>
                                <p>Description :{{ OffreTravail.description}}</p>
                            </div>


                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}